.accordion{
    width: 100%;
    height: 333px;
    border: 1px solid red;
}
.accordion-item .accordion-header{
    border: 1 solid green;
    background-color: beige;
}

.d-none{
 display: none;
}


